<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Coinbase.NET.Tests.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Coinbase.NET.Tests.Properties.Settings>
            <setting name="ApiKey" serializeAs="String">
                <value>API_KEY_GOES_HERE</value>
            </setting>
        </Coinbase.NET.Tests.Properties.Settings>
    </userSettings>
</configuration>